@import "tailwindcss";

*{
    scroll-behavior: smooth;
}
.color-p{
    color: #6d64e9;
}
.bg-p{
    background-color: #6d64e9;
}
.bg-s{
    background-color:#c48ea6;
}
.bg-t{
    background-color: #b1c6c1;
}
.color-s{
    color: #c48ea6;
}
.color-t{
    color: #afdbd1;
}
.font-p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.shadow-custom-big{
    box-shadow: 10px 10px 500px black;
}


.greengrad{
  font-size: 72px;
  background: -webkit-linear-gradient(#01f3a2, #6fff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.indigograd{
  font-size: 72px;
  background: -webkit-linear-gradient(#4e01f3, #aa00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.yellowgrad{
  font-size: 72px;
  background: -webkit-linear-gradient(#ffdd00, #d4ff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.blugrad{
  font-size: 72px;
  background: -webkit-linear-gradient(#01b7f3, #0048ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}